<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qibao.activity.mapper.PrizeEOMapper">
  <resultMap id="BaseResultMap" type="com.qibao.activity.entity.PrizeEO">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="prize_no" jdbcType="VARCHAR" property="prizeNo" />
    <result column="box_id" jdbcType="BIGINT" property="boxId" />
    <result column="prize_name" jdbcType="VARCHAR" property="prizeName" />
    <result column="prize_num" jdbcType="DOUBLE" property="prizeNum" />
    <result column="prize_type" jdbcType="INTEGER" property="prizeType" />
    <result column="prize_unit" jdbcType="VARCHAR" property="prizeUnit" />
    <result column="prize_probability" jdbcType="DOUBLE" property="prizeProbability" />
    <result column="img_id" jdbcType="BIGINT" property="imgId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="is_enable" jdbcType="BIT" property="isEnable" />
  </resultMap>
</mapper>